body {
    margin: 0;
    background: black;
    align-items: center;
    justify-content:space-between;
    height : 520px;
    text-align: center;
    font-family: 'Times New Roman';
    
  }
.main-box{
    margin-top: 5%;
    margin-left: 35%;
    width: 28%;
    height: 300px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    color: white;
}

.box{
    padding: 25px 10px;
    font-size: 43px;
    color: white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;  
  }

.box3{
    border-right: none;
}
.box6{
    border-right: none;
}
.box9{
    border-right: none;
    border-bottom: none;
}
.box8{
    border-bottom: none;
}
.box7{
    border-bottom: none;
}

.score{
    margin-top: 2.5%;
    margin-left: 35%;
    width: 28%;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    color: white;

}

#resetbutton {
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    border: 1px solid aliceblue;
    background: transparent;
}